body{
	background-color:#EB4A5F
}
.wrapper{
	max-width:70%;
	margin:0 auto;
	border:solid #0C2833 20px;
	padding: 10px;
	background-color:#FFECE2
}
h1{
	text-align:center;
	text-align: center;
}
section{
	background-color:#FFECE2;
}
h2{
	color:#2521C6;
	text-align: center;
}
h3{
	color:#2521C6;
	text-align: center;
}
article{
	color:#2521C6;
	clear:right;
}
img{
	max-width:35%;
	float:right;
	margin:15px;
	border:solid black 5px;
}
.clearfix:after{
	content:".";
	visibility: hidden;
	display:block;
	height:0;
	clear:both;
}